[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.7.3"
mkdocs = "~=1.2.1"
mkdocs-material = "~=7.1.9"
pymdown-extensions = "~=8.2"
mdx-truly-sane-lists = "~=1.2"
pymongo = "~=3.11.4"

[dev-packages]
black = {version = "==21.6b0", extras = ["d"]}

[requires]
python_version = "3.9"
