[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
markdown = "*"
mdx-truly-sane-lists = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
